

<h2>Edit <%=@user.username %></h2>

<form action="/user" method="POST">
  <input id="hidden" type="hidden" name="_method" value="PATCH">

  <label>Name:</label>
  <br>
  <input type="text" name="user[username]" value="<%= @user.username %>">
  <br>
  <label>Email:</label>
  <br>
  <input type="text" name="user[email]" value="<%= @user.email %>">
  <br>
  <label>Password:  *required field.</label>
  <br>
  <input type="text" name="user[password]" value="<%= @user.password %>">
  <br>
  
  <br>
  <input type="submit" id="submit" value="Save">
</form>
<br>
<br>
<a href="/trails">Home</a>