<h2> Log a new trail</h2>
<form action="/trails" method="POST">
  <label>Trail Name: <input type="text" name="trail[name]" id="Name"></label>

  <br>

  <label>Length: <input type="text" name="trail[length]" id="Length"> miles </label>

  <br>

  <label>Bathroom: </label> 
  <label for="bathroom"> Yes <input type="radio" name="trail[bathroom]" value="Yes" /></label>
  <label for="bathroom"> No <input type="radio" name="trail[bathroom]" value="No" /></label>
  <label for="bathroom"> Unknown <input type="radio" name="trail[bathroom]" value="Unknown" /></label>
  
  <br>

  <label>Cell Reception: </label> 
  <label for="cell reception"> Yes <input type="radio" name="trail[cell_reception]" value="Yes" /></label>
  <label for="cell reception"> No <input type="radio" name="trail[cell_reception]" value="No" /></label>
  <label for="cell reception"> Unknown <input type="radio" name="trail[cell_reception]" value="Unknown" /></label>

  <br>
  <br>

  <label>Choose an existing category/categories:
  <br>
  <% Category.all.each do |category| %>
  <input type="checkbox" name="categories[]" value=<%= category.id %>>
  <%= category.name %>
  <% end %></label>

  <br>
  <br>

  <label>and/or, create a new category:</label>

  <br>
  <label>Category: <input type="text" name="category[name]"></label>
  <br>
  <br>
  <label>Memo: <input type="text" name="trail[memo]" id="Memo"></label>
<<<<<<< HEAD

=======
>>>>>>> b06993b71631e2a4aa42037f65dad85599eb2b49
  <br></br>
  <br>
  <input type="submit" class="btn btn-lg btn-info" id="submit" value="Post a trail">
</form>
<br>
<br>
<a href="/trails" class="btn btn-lg btn-info link-button" >Home</a>
