<nav class="nav">
  <a class="nav-link active" href="#">Active</a>
  <a class="nav-link" href="/logout" class="btn btn-lg btn-info link-button">Link</a>
  <a class="nav-link" href="#">Link</a>
  <a class="nav-link disabled" href="#">Disabled</a>
</nav>

<h2> Happy Trails!</h2>
<p><a href="/trails/new" class="btn btn-lg btn-info link-button">Add a new trail here</a></p>

<br>
<br>
<h2>Trails</h2>
<ul>
    <% @trails.each do |trail| %>
        <li><a href="/trails/<%= trail.slug%>"><%= trail.name %></a></li>
    <% end %>
</ul>
<br>
<br>
<% if @user.trails != [] %>
  <a href="/trails/user_trail" class="btn btn-lg btn-info link-button">See all the trails you added</a>
<% end %>

<br>
<br>
<a href="/user/edit" class="btn btn-lg btn-info link-button">Edit User Information</a>
<br>
<br>
<a href="/logout" class="btn btn-lg btn-info link-button">Logout</a>