<p> Welcome to Happy trails, <%= @user.username%>!</p>

<a href="/trails/new">Log a new trail</a>
<br>
<br>
<h2>Trails you've visited</h2>
<ul>
    <% @trails.each do |trail| %>
        <li><%= trail.name %></li>
    <% end %>
</ul>
<br>

<a href="/logout">Logout</a>