<h2> Happy Trails!</h2>
<a href="/trails/new">Add a new trail here</a>

<br>
<br>
<h2>Trails</h2>
<ul>
    <% @trails.each do |trail| %>
        <li><a href="/trails/<%= trail.slug%>"><%= trail.name %></a></li>
    <% end %>
</ul>
<br>
<br>
<a href="/trails/user_trail">See all the trails you added</a>
<br>
<br>
<a href="/user/edit">Edit User Information</a>
<br>
<br>
<a href="/logout">Logout</a>