<p> Welcome to Happy trails, <%= @user.username%>!</p>
<p> Enter a new trail <a href="/trails/new"></a></p>
<br>
<%# I want to show links to all the trails the user logged %>
<br>

<a href="/logout">Logout</a>