<h3>Trail(s) you have added</h3>
<br>
<ul>
<% @user.trails.all.each do |trail| %>
<li><a href="/trails/<%= trail.slug%>"><%= trail.name %></a></li>
<% end %>
</ul>
<br>
<a href="/trails" class="btn btn-lg btn-info link-button">Home</a>