<h2>Categories</h2>
<ul>
    <% @categories.each do |categories| %>
        <li><a href="/categories/<%= categories.slug%>"><%= categories.name %></a></li>
    <% end %>
</ul>
<br>

<a href="/trails">Home</a>