<h1 id="welcome"><b>Welcome to Happy Trails!</b></h1>

<h3 id="intro">Happy Trails is a social trail journal web application that <br>allows you to keep a record of trails you enjoy and share them with others. 

 <br>
 <br>
 <a href="/signup" class="btn btn-lg btn-info">Sign Up</a>

 <br>
 <br>
 <a href="/login" class="btn btn-lg btn-info">Log In</a>
